<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aceim.protocol.snuk182.xmppcrypto"
    android:versionCode="1"
    android:versionName="1.0" 
    android:installLocation="internalOnly">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name=".XMPPProtocol" 
		    android:exported="true"
		    android:process="aceim.protocol.snuk182.xmppcrypto">
			<intent-filter>
				<action android:name="aceim.protocol" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</service>
    </application>

</manifest>