<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aceim.protocol.snuk182.vkontakte"
    android:versionCode="2"
    android:versionName="@string/version" 
    android:installLocation="internalOnly">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK"/>/>
	
    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="16" />

    <application
        android:name="aceim.api.application.AceIMBaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <service android:name=".VkProtocol" 
		    android:exported="true"
		    android:process="aceim.protocol.snuk182.vkontakte">
			<intent-filter>
				<action android:name="aceim.protocol" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</service>
		
        <activity android:name="aceim.protocol.snuk182.vkontakte.internal.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
        </activity>
    </application>

</manifest>
